<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          
          {% if page.permalink == '/zh.html' %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="/zh.html#about-me">首页</a></li>
            {% assign nav_data = site.data.navigation_zh.main %}
          {% else %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
            {% assign nav_data = site.data.navigation.main %}
          {% endif %}

          {% for link in nav_data %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>